$white: #ffffff;
$black: #000000;
$light-gray: #837d7d;
$gray: #20285b;
$dark-gray: #211d1d;
$light-blue: #eaeff8;
$blue: #2B386F;
$dark-blue: #16204d;
$gold: #ffcb66;

$primary-color-light: $light-blue;
$primary-color: $blue;
$accent-color: $gold;
$background-color: $white;


