@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import '~scss/colors';

$font-family-base: Arial, sans-serif;
$font-family-special: 'Fjalla One', sans-serif;

$font-color-base: $gray;